html{
    scroll-behavior: smooth;
}
/* ------------ Sidebar -------------- */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightgoldenrodyellow;
}

.sidebar{
    background-color: #00c851;
    float: left;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 15px black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.sidebar a{
    display: block;
    text-decoration: none;
    color: #baf5d2;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 18px;
}
.sidebar a:hover{
    color: white;
}
.sidebar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
    border: 10px solid #1bad56;
    box-shadow: 0 0 15px black;
}

#about-section{
    margin-left: 300px;
    padding: 20px;
}
#about-section h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 70px;
    text-shadow: 0 0 5px black;
    margin: 120px 0 0 0;
}
.fname{
    color: #382828;
}
.lname{
    color: #00c851;
}
#about-section h2{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin: 0;
}
#about-section p{
    font-size: 25px;
    color: gray;
}

/* -------------------- Exp Section --------------- */
#exp-section{
    margin-left: 300px;
    padding: 20px;
}
.main-heading{
    margin-top: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    text-shadow: 0 0 5px #00c851;
}
.exp-article{
    width: 250px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 15px #00c851;
    border-radius: 10px;
    transition: all 0.5s;
    background-color: lightseagreen;
}
.exp-article:hover{
    transform:perspective(400px) rotateY(-20deg);
}
.exp-article h3{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    margin-top: 15px;
}
.exp-article p{
    padding: 5px;
    font-size: 18px;
    color: white;
}
.exp-button{
    background-color: #00c851;
    color: white;
    border: 5px solid white;
    padding: 12px 25px;
    box-shadow: 0 0 5px #00c851;
    font-size: 18px;
    margin: 0 0 10px 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* -------------- Education Section ------------- */
#edu-section{
    margin-left: 300px;
    padding: 20px;
}
.edu-article{
    box-shadow: 0 0 15px #00c851;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    transition: all 0.5s;
    background-color: lightskyblue;
}
.edu-article:hover{
    transform: perspective(400px) rotateX(20deg);
}
.edu-article h3{
    font-family: 'Lobster', cursive;
    color: #00c851;
    font-size: 25px;
}
.edu-article p{
    color: white;
    font-size: 18px;
}

/* ----------Skill Section ---------------*/

#skill-section{
    margin-left: 300px;
    padding: 20px;
}
.skill-article{
    box-shadow: 0 0 15px #00c851;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    transition: all 0.5s;
    background-color: lightgreen;
}
.skill-article:hover {
    transform: perspective(400px) rotateX(-10deg);
}
.skill-article h3{
    font-family: 'Lobster', cursive;
    color: #00c851;
    font-size: 25px;
}
.skill-article p{
    color: white;
    font-size: 18px;
}
.fab , .fas{
    margin: 10px;
    padding: 5px;
}
.fab:hover , .fas:hover{
    color: #00c851;
    box-shadow: 0 0 15px black;
    border-radius: 35px;
}

/* ----------Interests Section ---------------*/

#interests-section{
    margin-left: 300px;
    padding: 20px;
}
.interests-article{
    box-shadow: 0 0 15px #00c851;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    transition: all 0.5s;
    background-color: lightblue;
}
.interests-article:hover {
    transform: perspective(400px) rotateX(-10deg);
}
.interests-article h3{
    font-family: 'Lobster', cursive;
    color: #00c851;
    font-size: 25px;
}
.interests-article p{
    color: gray;
    font-size: 18px;
    color: white;
}
.interests-article div i{
    padding: 10px;
}

/* ----------Certification Section ---------------*/

#cert-section{
    margin-left: 300px;
    padding: 20px;
}
.main-heading{
    margin-top: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    text-shadow: 0 0 5px #00c851;
}
#cert-text{
    font-size: 18px;
    color: gray;
    margin-bottom: 50px;
}
.cert-article{
    padding: 10px;
    box-shadow: 0 0 15px #00c851;
    border-radius: 10px;
    width: 200px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    transition: all 0.5s;
}
.cert-article img{
    width: 100px;
    height: 100px;
    margin-top: -50px;
}
.cert-article p {
    font-size: 18px;
}
.cert-article:hover{
    background-color: #00c851;
    color: white;
    transform: perspective(400px) translateY(-20px);
}